:root {
  --white-1: #ccc;
  --white-2: #bbb;
  --white-3: #aaa;

  --grey-1: #111;
  --grey-2: #222;
  --grey-3: #333;
  --grey-4: #444;

  --white: #fff;
  --black: #000;

  --positive: #025709;
  --offset-for-positive: #fff;

  --neutral: #aa5c08;
  --offset-for-neutral: #fff;

  --negative: #8a0202;
  --offset-for-negative: #fff;

  --highlight-1: #ad052f;
  --offset-for-highlight-1: #fff;

  --highlight-2: #8b0627;
  --offset-for-highlight-2: #fff;

  --page-background-url: url('../../assets/images/page-background-dark.png');
}
