<div class="container container--vertically-centered max-width max-width--1">
  <app-content-box>
    <h1>Log in...</h1>
    <div class="container">
      <app-form
        submitText="Log in"
        [schema]="loginSchema"
        [callOutText]="getErrorText()"
        [submitting]="isAuthenticating"
        (formGroupGenerated)="onFormGroupGenerated($event)"
        (submitClicked)="onLoginClicked()"
      ></app-form>
    </div>
  </app-content-box>

  <app-content-box [inset]="true">
    <p>
      Interested in Evo?
      <app-link>Register</app-link>
      for your free 30 day trial, or
      <app-link>contact us</app-link>
      for more information or to request a demo.
    </p>
  </app-content-box>
</div>
