<app-cover-sheets-dumb
  [coverSheetDetails]="(coverSheetDetails$ | async)!"
  [caseParties]="(caseParties$ | async)!"
  [frontSheetItems]="(frontSheetItems$ | async)!"
  [backSheetItems]="(backSheetItems$ | async)!"
  [readoutForCaseParties]="(readoutForCaseParties$ | async)!"
  [readoutForNarrative]="(readoutForNarrative$ | async)!"
  [readoutForRatesApplied]="(readoutForRatesApplied$ | async)!"
  [readoutForSolicitorDetails]="(readoutForSolicitorDetails$ | async)!"
  [readoutForVatDetails]="(readoutForVatDetails$ | async)!"
  (coverSheetDetailsClicked)="onCcoverSheetDetailsClicked()"
  (newCasePartyClicked)="onNewCasePartyClicked()"
  (editCasePartyClicked)="onEditCasePartyClicked($event)"
  (deleteCasePartyClicked)="onDeleteCasePartyClicked($event)"
  (newFrontSheetItemClicked)="onNewFrontSheetItemClicked()"
  (newBackSheetItemClicked)="onNewBackSheetItemClicked()"
  (editCoverSheetItemClicked)="onEditCoverSheetItemClicked($event)"
  (deleteCoverSheetItemClicked)="onDeleteCoverSheetItemClicked($event)"
  (cancelled)="onCancelClicked()"
></app-cover-sheets-dumb>
