<app-home-dumb
  (billSetupClicked)="onBillSetupClicked()"
  (coverSheetsClicked)="onCoverSheetsClicked()"
  (narrativeClicked)="onNarrativeClicked()"
  (ratesClicked)="onRatesClicked()"
  (partsClicked)="onPartsClicked()"
  (counselsClicked)="onCounselsClicked()"
  (chronologyClicked)="onChronologyClicked()"
  (partiesClicked)="onPartiesClicked()"
  (documentsClicked)="onDocumentsClicked()"
  (otherDisbursementsClicked)="onOtherDisbursementsClicked()"
  (otherWorkClicked)="onOtherWorkClicked()"
></app-home-dumb>
